---
import Background from "../assets/background.svg";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ?? "iNoted"}</title>
    <meta
      name="description"
      content="iNoted is an intuitive note-taking app designed for those who value clarity and elegance. Capture, organize, and access your thoughts with ease—where productivity meets simplicity."
    />
    <meta name="author" content="iNoted Team" />
    <meta
      name="keywords"
      content="note-taking app, productivity tool, online notes, task management, iNoted"
    />
    <meta property="og:title" content="iNoted | Simple Note-Taking" />
    <meta
      property="og:description"
      content="iNoted is an intuitive note-taking app designed for those who value clarity and elegance. Capture, organize, and access your thoughts with ease—where productivity meets simplicity."
    />
    <meta property="og:image" content="/favicon.svg" />
    <meta property="og:url" content="https://inoted.alannin.dev" />
    <meta property="og:type" content="website" />
  </head>
  <body>
    <div>
      <img
        id="background"
        src={Background.src}
        alt="background-image"
        fetchpriority="high"
      />
      <slot />
    </div>
  </body>
</html>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: theme("fontFamily.raleway");
    scroll-behavior: smooth;
  }

  #background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(100px);
  }

  body {
    /* @apply grid place-content-center p-20; */
  }

  body > div {
    @apply mx-auto;
    @apply max-w-screen-xl;
    @apply container;
  }
</style>
